.order{
    background-color:#fddfcd;
}
.order-Btn{
    position: absolute;
    top: -30%;
    left: -60%;
    display: block;
    width: 30px;
    height: 30px;
}
.modal-backdrop {
    opacity: 0.2 !important;
    filter: alpha(opacity=0) !important ;
  }
